[Unit]
Description=Nextcloud Port Forward
After=network.target
Wants=k3s.service

[Service]
Type=simple
ExecStart=/usr/local/bin/nextcloud-port-forward.sh
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
