image:
  repository: nextcloud
  flavor: fpm
  tag:

nameOverride: ""
fullnameOverride: ""
podAnnotations: {}
podLabels: {}
deploymentAnnotations: {}
deploymentLabels: {}

replicaCount: 1

ingress:
  enabled: false

phpClientHttpsFix:
  enabled: true
  protocol: https

nextcloud:
  host: nextcloud.build-hub.local
  username: admin
  password: admin
  existingSecret:
    enabled: false
    # secretName: nameofsecret
    usernameKey: nextcloud-username
    passwordKey: nextcloud-password
    tokenKey: ""
    smtpUsernameKey: smtp-username
    smtpPasswordKey: smtp-password
    smtpHostKey: smtp-host
  containerPort: 80
  datadir: /var/www/html/data
  configs:
    dynamic-trusted-domains.config.php: |
      <?php
      $hostname = $_SERVER['HTTP_HOST'];
      $CONFIG = array (
        'trusted_domains' => 
        array (
          0 => 'localhost',
          1 => 'nextcloud.build-hub.local',
          3 => $hostname,
        ),
        'forwarded_for_headers' => ['HTTP_X_FORWARDED_FOR', 'HTTP_X_FORWARDED', 'HTTP_FORWARDED_FOR', 'HTTP_FORWARDED'],
      );


nginx:
  enabled: true
  containerPort: 80

internalDatabase:
  enabled: false

postgresql:
  enabled: false

externalDatabase:
  enabled: true
  type: postgresql
  host: "postgresql.nextcloud.svc.cluster.local"
  user: nextclouduser
  password: "fhgDD27"
  database: nextcloud
  existingSecret:
    enabled: false
    usernameKey: db-username
    passwordKey: db-password

externalRedis:
  enabled: false

redis:
  enabled: true
  image:
    repository: bitnamilegacy/redis
  auth:
    enabled: false
  global:
    storageClass: "nextcloud"
  master:
    persistence:
      enabled: true
  replica:
    persistence:
      enabled: true

cronjob:
  enabled: true
  type: sidecar
  sidecar:
    resources: {}
    lifecycle: {}
    securityContext: {}
    command:
      - /cron.sh
  cronjob:
    schedule: "*/5 * * * *"
    successfulJobsHistoryLimit: 3
    failedJobsHistoryLimit: 5
    labels: {}
    podLabels: {}
    annotations: {}
    backoffLimit: 1
    affinity: {}
    resources: {}
    securityContext: {}
    command:
      - php
      - -f
      - /var/www/html/cron.php
      - --
      - --verbose

service:
  type: ClusterIP
  port: 80
  targetPort: 80

persistence:
  enabled: true
  storageClass: "nextcloud"
  accessMode: ReadWriteMany
  size: 100Gi
  nextcloudData:
    enabled: false

hpa:
  enabled: false
  cputhreshold: 60
  minPods: 1
  maxPods: 10

resources:
  limits:
    cpu: 200m
    memory: 512Mi
  requests:
    cpu: 150m
    memory: 512Mi
