volumes:
  nextcloud_data:
    driver: local
    driver_opts:
      type: nfs
      o: addr=127.0.0.1,rw
      device: :/srv/nextcloud/data

services:
  traefik:
    image: traefik:latest
    container_name: traefik
    restart: always
    command:
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.websecure.http.tls=true"
      - "traefik.http.routers.traefik.service=traefik@docker"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "/etc/nextcloud/traefik.yml:/etc/traefik/traefik.yml:ro"
      - "/etc/nextcloud/dynamic.yml:/etc/traefik/dynamic.yml:ro"
      - "/etc/nextcloud/certs/:/etc/certs:ro"
    networks:
      - web

  db:
    image: mariadb:10.6
    container_name: mariadb
    restart: always
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    volumes:
      -  /srv/nextcloud/users:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=admin
      - MYSQL_PASSWORD=admin
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
    networks:
      - web

  app:
    image: nextcloud
    container_name: nextcloud
    restart: always
    ports:
      - "8080:80"
    links:
      - db
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextcloud.rule=Host(`nextcloud.build-hub.local`)"
      - "traefik.http.routers.nextcloud.entrypoints=websecure"
      - "traefik.http.routers.nextcloud.tls=true"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=80"
    volumes:
      - /srv/nextcloud/server:/var/www/html
      - nextcloud_data:/var/www/html/data
    environment:
      - NEXTCLOUD_ADMIN_USER=admin
      - NEXTCLOUD_ADMIN_PASSWORD=admin
      - MYSQL_PASSWORD=admin
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=db
      - NEXTCLOUD_TRUSTED_DOMAINS="*"
      - TRUSTED_PROXIES="*"
    networks:
      - web

networks:
  web:
    driver: bridge